<%- include("../layouts/header", {title: 'Pessoas'}) %>

<%- include("../layouts/menu") %>

<section>
    <div class="container">
        <div class="columns">
            <div class="column is-four-fifths">
              <h1 class="title size-4">Listas de Pessoas</h1>
            </div>
          </div>





    </div>
</section>








<%- include("../layouts/footer") %>